
<section id="one" class="tiles">


  <article>
    <span class="image">
      <img src="assets/images/coding_screen.jpeg" alt="About" />
    </span>
    <header class="major">
      <h3><a href="//hyffen-website/about.html" class="link">About</a></h3>
      <p>What we do, and why</p>
    </header>
  </article>

  
  <article>
    <span class="image">
      <img src="assets/images/methodology1.jpeg" alt="Methodology" />
    </span>
    <header class="major">
      <h3><a href="//hyffen-website/methodology.html" class="link">Methodology</a></h3>
      <p>Your Vision, Our Blueprint for Success</p>
    </header>
  </article>
  
  <article>
    <span class="image">
      <img src="assets/images/fancy_pic.jpeg" alt="Services" />
    </span>
    <header class="major">
      <h3><a href="//hyffen-website/services.html" class="link">Services</a></h3>
      <p>What we can do for you</p>
    </header>
  </article>
  
 

</section>
